<h3>Dijstra's Algorithm Clicker Question</h3>

Below is an adjacency matrix for a weighted, undirected graph.  

<p><center><table border=3 cellpadding=10><td>
<pre>
      A   B   C   D   E   F   G   H   I   J

A     -   -   5   -   -   -   4   9   3   4
B     -   -   -   -   -   -   5   -   -   5
C     5   -   -   -   -   1   -   -   -   -
D     -   -   -   -   -   -   7   -   -   -
E     -   -   -   -   -   2   -   -   5   -
F     -   -   1   -   2   -   1   8   -   5
G     4   5   -   7   -   1   -   -   -   -
H     9   -   -   -   -   8   -   -   4   -
I     3   -   -   -   5   -   -   4   -   -
J     4   5   -   -   -   5   -   -   -   -
</pre>
</td></table></center><p>

<b>Question 1</b>: After one pass of Dijkstra's algorithm starting with node <b>A</b>, give me the order of the nodes on the
multimap, as a single string (if there are multiple possible answers, just give me one of them).

<p>
<b>Question 2</b>: After the second pass of Dijkstra's algorithm starting with node <b>A</b>, give me the order of the nodes on the
multimap, as a single string (if there are multiple possible answers, just give me one of them).

