<h3>NP Completeness Clicker Questions</h3>

<b>Question 1:</b> Think about the "spellseeker" problem from lab.  If you don't
remember it, <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs302/Labs/LabB/>here's
the link</a>.
<p>
Which of the following formulates spellseeker as a problem that's in NP?
<p>
<UL>
<LI> <b>A</b>: Given a undirected graph <i>G</i> where nodes have weights and a value <i>V</i>, is there a simple path in <i>G</i> whose node weights sum to a value &ge; <i>V</i>?
<LI> <b>B</b>: Given a undirected graph <i>G</i> where nodes have weights, what is the length of the longest simple path in <i>G</i>?
<LI> <b>C</b>: Given a undirected graph <i>G</i> and two nodes <i>x</i> and <i>y</i>, is there a simple path between <i>x</i> and <i>y</i>?
<LI> <b>D</b>: Given a undirected graph <i>G</i> where nodes have weights, what is the total weight of nodes on the maximal weight simple path in <i>G</i>?
<LI> <b>E</b>: Given a undirected graph <i>G</i> where nodes have weights and a value <i>V</i>, is there a simple path in <i>G</i> whose length is &ge; <i>V</i>?
</UL>

<hr>
<b>Question 2:</b> Regardless of how you answered Question 1, is spellseeker in NP?

<hr>
<b>Question 3:</b> Now, suppose an instance of spellseeker is parameterized by its graph <i>G</i> and some value <i>X</i>.  If you recall from class, an instance
of 3-SAT is parameterized by its variables <i>V</i> and its clauses <i>C</i>.  Let's suppose that spellseeker is in NP.  How would we prove that it is NP-Complete?
<p>
<UL>
<LI> <b>A</b>: Given an instance of 3-SAT, convert <i>V</i> and <i>C</i> to <i>G</i> and <i>X</i> in polynomial time, and show that you can solve the spellseeker instance
     in polynomial time.
<LI> <b>B</b>: Given an instance of 3-SAT, convert <i>V</i> and <i>C</i> to <i>G</i> and <i>X</i> in polynomial time, and show that you can convert a spellseeker solution
     to a 3-SAT solution in polynomial time.
<LI> <b>C</b>: Given an instance of spellseeker, convert <i>G</i> and <i>X</i> to <i>V</i> and <i>C</i> in polynomial time, and show that you can solve the 3-SAT instance
     in polynomial time.
<LI> <b>D</b>: Given an instance of spellseeker, convert <i>G</i> and <i>X</i> to <i>V</i> and <i>C</i> in polynomial time, and show that you can convert a 3-SAT solution
     to a spellseeker solution in polynomial time.
</UL>

