<h3>Answers to NP Completeness Clicker Questions</h3>

<b>Question 1:</b> The answer is: 
<i><b>E</b>: Given a undirected graph <i>G</i> where nodes have weights and a value <i>V</i>, is there a simple path in <i>G</i> whose length is &ge; <i>V</i>?</i>
<p>
Problems with the others:

<p>
<UL>
<LI> <i><b>A</b>: Given a undirected graph <i>G</i> where nodes have weights and a value <i>V</i>, is there a simple path in <i>G</i> whose node weights sum to a value &ge; <i>V</i>?</i>: This is a nice formulation for NP; however, it's not the goal of the spellseeker lab -- the goal is to find the longest simple path.
<p>
<LI> <i><b>B</b>: Given a undirected graph <i>G</i> where nodes have weights, what is the length of the longest simple path in <i>G</i>?</i>:
On the flip side, this is the goal of spellseeker; however, you have to convert it into a decision problem where you can test a yes/no answer.  Note that you
can convert this problem into <i>E</i> and then use binary search on <i>V</i>.  That retains the polynomial time solution / verification.

<p>
<LI> <i><b>C</b>: Given a undirected graph <i>G</i> and two nodes <i>x</i> and <i>y</i>, is there a simple path between <i>x</i> and <i>y</i>?</i>
Again, this is a nice formulation for NP; however, again it is not the goal of spellseeker.
<p>
<LI> <i><b>D</b>: Given a undirected graph <i>G</i> where nodes have weights, what is the total weight of nodes on the maximal weight simple path in <i>G</i>?</i> This is neither the goal of spellseeker, nor is it a good formulation.
<p>
</UL>

<hr>
<b>Question 2:</b> <i>Regardless of how you answered Question 1, is spellseeker in NP?</i>  Yes -- you can verify a solution in linear time.

<hr>
<b>Question 3:</b> The answer is <i>B</i>.  <i>C</i> and <i>D</i> incorrect because you need to reduce 3-SAT to the problem, and not the other way
around.  You want to prove that your problem is at least as hard as 3-SAT.  <i>A</i> would only be correct if P = NP, and we don't know that.

