<h3>Network Flow Clicker Questions, Set 2</h3>

Here's the input file for the graph program in the network flow lecture.  

<p><center><table border=3 cellpadding=3><td><pre>
SOURCE s
SINK t
EDGE s   n00 3638
EDGE n00   t 2256
EDGE n00 n01 4278
EDGE n00 n02 4672
EDGE n03 n00 9213
EDGE n01 t   9929
EDGE n01 n02 1219
EDGE n03 n01 9867
EDGE n02 t   1655
EDGE n03 n02 4123
EDGE n03 t    702
</pre></td></table></center><p>

Let me summarize the four path selection algorithms in the network flow lecture:

<UL>
<LI> DFS: A vanilla depth-first search with no smarts in it.
<LI> Greedy DFS: A heuristic where you traverse each node's adjacency list from biggest
     capacity edge to smallest.
<LI> Modified Dijkstra: A tweak to Dijkstra's algorithm that finds the maximum flow path
    from the source to the sink.
<LI> Edmonds-Karp: Use breadth-first search to find the path with smallest number of edges,
     regardless of their capacity.
</UL>

These questions go from easiest to hardest.  In my opinion, only questions 5/6 
benefit from your drawing the graph. You can do them pretty quickly without drawing the graph, but
it's easier to see the graph.

<OL>
<LI> If we are using the Edmonds-Karp path selection algorithm, what is the first path
chosen when we are calculating the network flow of the graph above?  Give the path as
a single string of nodes with dashes between the nodes.
<p>
<LI> What is the flow along that path?
<p>
<LI> If we are using the greedy DFS path selection algorithm, what is the first path
chosen when we are calculating the network flow of the graph above?  Give the path as
a single string of nodes with dashes between the nodes.
<p>
<LI> What is the flow along that path?
<p>
<LI> If we are using the modified-Dijkstra path selection algorithm, what is the first path
chosen when we are calculating the network flow of the graph above?  Give the path as
a single string of nodes with dashes between the nodes.
<p>
<LI> What is the flow along that path?
</OL>

