<title>Clicker Questions for Convertible Strings</title>
<h3>Clicker Questions for Convertible Strings</h3>

Let's recall the summary of the problem:

<UL>
<LI> You are given two strings with upper-case characters from <tt>'A'</tt> to <tt>'I'</tt>.
<LI> Call these strings, <b>A</b> and <b>B</b>.
<LI> They are the same length which is &le; 50.
<LI> You are going to choose some number of indices, and remove the characters 
     at these indices in both <b>A</b> and <b>B</b>.
<LI> When you are done, you should be able to convert <b>A</b> to <b>B</b> with 
     a simple substitution cipher -- in other words, for each character <i>c</i> from <tt>'A'</tt> to
     <tt>'I'</tt>, there is a substition <i>S[c]</i>, such that <i>S[A[i]]</i> always equals <i>Y[i]</i>.
<LI> Return the minimum number of indices that you have to delete to achieve this.
</UL>

<hr>
<OL>
<LI> What is the answer when:
<pre>
  A = "AABBBCCC"
  B = "DEDDDEEE"
</pre>
Remember, you are answering the minimum number of characters to delete so that <i>A</i> will
match <i>B</i> with a substitution cipher.
<hr>
<p>
<LI> Now, suppose you are given:
<pre>
  A = "AAABBBCCC"
  B = "DDEDDDEEE"
</pre>
You'll note that this matches the previous problem, except we've added a new character to the
beginning of each string.  If we decide to solve the problem by deleting the first character of both strings, then what will our answer be?
<p>
<hr>
<LI> On the flip side, suppose that we don't want to delete the first character of each 
string.  In other words, we are going force <tt>'A'</tt> in <i>A</i> to match <tt>'D'</tt> in <i>B</i>.  Now
what will our answer be?

