<h3>Clicker Questions on the Coins Problem - Answers</h3>

<OL>
<LI> 
You are running an instance of the "coins" problem, and your coin
denominations are 1, 7, 29, 30.  What is the answer when <i>S</i> is 65?
<p>
<i>Answer: Find the minimum when <i>S</i> is 64, 58, 36 and 35.  That is the 
minimum of 6, 2, 2, and 5.  The answer is 3 -- solve the problem for <i>S=58</i>, 
which is 2, and then add a coin with a value of 7.</i>

<hr>
<LI>
Same problem as above, but now <i>S</i> is 89?
<p>
<i>Answer: Find the minimum when <i>S</i> is 88, 81, 60 and 59.  That is the 
minimum of 3, 5, 2 and 2.  The answer is 3 -- solve the problem for <i>S=60</i>, 
which is 2, and then add a coin with a value of 29.</i>
<p>
<hr>
<LI>
Now your coin denominations are 7, 29 and 43 and <i>S</i> is 301.
<p>
<i>Answer: Find the minimum when <i>S</i> is 294, 272 and 258.  That is the 
minimum of 8, 8 and 6.  The answer is 7 -- solve the problem for <i>S=258</i>, 
which is 6, and then add a coin with a value of 43.</i>
<p>
<hr>
<LI>
Finally, your coin denominations are 7, 29 and 43 and <i>S</i> is 305.
<p>
<i>Answer: Find the minimum when <i>S</i> is 298, 276 and 262.  That is the 
minimum of 22, 24 and 22.  The answer is 23 -- solve the problem for <i>S=298</i>, 
which is 22, and then add a coin with a value of 7.</i>
</OL>

