<h3>Clicker Questions on the Coins Problem</h3>

<OL>
<LI> 
You are running an instance of the "coins" problem, and your coin
denominations are 1, 7, 29, 30.  What is the answer when <i>S</i> is 65?
<p>
<LI>
Same problem as above, but now <i>S</i> is 89?
<p>
<LI>
Now your coin denominations are 7, 29 and 43 and <i>S</i> is 301.
<p>
<LI>
Finally, your coin denominations are 7, 29 and 43 and <i>S</i> is 305.
</OL>

Now, before you panic too much, I'm going to give you some help.  The following table
has the best answers for each value of <i>S</i> from 1 to 88 (with the exception of 65), when the coin
denominations are 1, 7, 29, 30.  

<p><center><table border=3 cellpadding=3><td><pre>
   S Ans  
   1   2  
   2   2  
   3   3  
   4   4  
   5   5  
   6   6  
   7   1  
   8   2  
   9   3  
  10   4  
</pre></td><td valign=top><pre>
   S Ans  
  11   5  
  12   6  
  13   7  
  14   2  
  15   3  
  16   4  
  17   5  
  18   6  
  19   7  
  20   8  
</pre></td><td valign=top><pre>
   S Ans  
  21   3  
  22   4  
  23   5  
  24   6  
  25   7  
  26   8  
  27   9  
  28   4  
  29   1  
  30   1  
</pre></td><td valign=top><pre>
   S Ans  
  31   2  
  32   3  
  33   4  
  34   5  
  35   5  
  36   2  
  37   2  
  38   3  
  39   4  
  40   5  
</pre></td><td valign=top><pre>
   S Ans  
  41   6  
  42   6  
  43   3  
  44   3  
  45   4  
  46   5  
  47   6  
  48   7  
  49   7  
  50   4  
</pre></td><td valign=top><pre>
   S Ans  
  51   4  
  52   5  
  53   6  
  54   7  
  55   8  
  56   8  
  57   5  
  58   2  
  59   2  
  60   2  
</pre></td><td valign=top><pre>
   S Ans  
  61   3  
  62   4  
  63   5  
  64   6  
  65   ?  
  66   3  
  67   3  
  68   4  
  69   5  
  70   6  
</pre></td><td valign=top><pre>
   S Ans  
  71   7  
  72   4  
  73   4  
  74   4  
  75   5  
  76   6  
  77   7  
  78   8  
  79   5  
  80   5  
</pre></td><td valign=top><pre>
   S Ans  
  81   5  
  82   6  
  83   7  
  84   8  
  85   9  
  86   6  
  87   3  
  88   3  
    
</pre></td></table></center><p>

The following table has best answers for each value of <i>S</i> from 221 to 304 (with
the exception of 301), when 
the coin denominations are 7, 29 and 43.

<p><center><table border=3 cellpadding=3><td><pre>
   S Ans  
 221  11
 222   6
 223   7
 224   8
 225  27
 226  22
 227  17
 228  12
 229   7
 230   6
</pre></td><td valign=top><pre>
   S Ans  
 231   7
 232   8
 233  23
 234  18
 235  13
 236   8
 237   7
 238   8
 239   9
 240  24
</pre></td><td valign=top><pre>
   S Ans  
 241  19
 242  14
 243   9
 244   6
 245   7
 246   8
 247  25
 248  20
 249  15
 250  10
</pre></td><td valign=top><pre>
   S Ans  
 251   7
 252   8
 253   9
 254  26
 255  21
 256  16
 257  11
 258   6
 259   7
 260   8
</pre></td><td valign=top><pre>
   S Ans  
 261   9
 262  22
 263  17
 264  12
 265   7
 266   8
 267   9
 268  10
 269  23
 270  18
</pre></td><td valign=top><pre>
   S Ans  
 271  13
 272   8
 273   7
 274   8
 275   9
 276  24
 277  19
 278  14
 279   9
 280   8
</pre></td><td valign=top><pre>
   S Ans  
 281   9
 282  10
 283  25
 284  20
 285  15
 286  10
 287   7
 288   8
 289   9
 290  10
</pre></td><td valign=top><pre>
   S Ans  
 291  21
 292  16
 293  11
 294   8
 295   9
 296  10
 297  11
 298  22
 299  17
 300  12
</pre></td><td valign=top><pre>
   S Ans  
 301   ?
 302   8
 303   9
 304  10
</pre></td></table></center><p>
 
