<title>Answers to Clicker Questions for Bracket Sequence</title>
<h3>Answers to Clicker Questions for Bracket Sequence</h3>

1. What is the answer for <tt>"[(])][]"</tt>.  Nothing fancy to do here, really but
simply enumerate.  I'll to my enumeration by always matching with the left-most undeleted
character until there are no more.  Then I delete.
<pre>
[ - ] - - [ ]      <font color=blue> # These start by matching the first '[' with the first ']'</font>
[ - ] - - - - 
[ ( - ) ] [ ]      <font color=blue> # These start by matching the first '[' with the second ']'</font>
[ ( - ) ] - - 
[ - - - ] [ ] 
[ - - - ] - - 
[ ( - ) - - ]      <font color=blue> # These start by matching the first '[' with the last ']'</font>
[ - - - - - ] 
- ( - ) - [ ]      <font color=blue> # All of the ones that start with the initial '('</font>
- ( - ) - - - 
- - - - - [ ]      <font color=blue> # The last one.</font>
</pre>
So the answer is 11.

<hr> 2.
Since <i>B</i> has no square brackets, the only correct strings are ones that contain 
     both outer square brackets, or neither.  There are 44 strings that contain neither
     (since that's the answer for <i>B</i>, and 45 that contain both -- those are the
     44 that contains parens, plus the string <tt>"[]"</tt>.  The answer is 
     44+45 = 89.

<hr> 3.
     We have the following:
<UL>
<LI> The strings with no square brackets: There are 44 of these.
<LI> The strings that contain the first '[' and the first ']' but no other square brackets: There are 45 of these -- one for each correct string in <i>B</i> and one for the empty string.
<LI> The strings that contain the first '[' and the first ']', plus the other '[]": There are 45 of these -- one for each correct string in <i>B</i> and one for the empty string.
<LI> The strings that contain the first '[' and the last ']', but not the others: There are 45 of these -- one for each correct string in <i>B</i> and one for the empty string.
<LI> The strings that contain the last two square brackets: There are 45 of these -- one for each correct string in <i>B</i> and one for the empty string.
</UL>

Thats 44+4*45 = 224.
