<h3>Clicker Questions on the Subsequence Problem</h3>

<OL>
<LI> 
You are running an instance of the "maximum subsequence" problem, and your 
strings are:

<p><center><table border=3 cellpadding=3><td><pre>

   "AbbbcccFyy"     and     "FxxxyyyAc"   

</pre></td></table></center><p>

What is the length of the maximum common subsequence of both strings?
<p>

<hr>
<LI> 
You are running an instance of the "maximum subsequence" problem, and your 
strings are:

<p><center><table border=3 cellpadding=3><td><pre>

   "AbbbcccFyy"     and     "FxxxyyyAccc"   

</pre></td></table></center><p>

What is the length of the maximum common subsequence of both strings?
<p>

<hr>
<LI> 
You are running an instance of the "maximum subsequence" problem, and your 
strings are:

<p><center><table border=3 cellpadding=3><td><pre>

   "9009709947053769973735856707811337348914"     

                       and     

   "9404888367379074754510954922399291912221"   

</pre></td></table></center><p>

True or false -- the maximum common subsequence of these strings must start
with the character '9'.
<p>

<hr>
<LI> 
You are running an instance of the "maximum subsequence" problem, and you are
getting the input strings from the file <b>f1.txt</b>.  The file has two
lines. The first line contains the first string, and the second line contains the
second string. There is no other whitespace in the file, besides the two newline
characters.  I run the following Unix commands on the file.  What is the length
of the maximum common subsequence of these two strings?

<pre>
UNIX> <font color=darkred><b>cat f1.txt | wc</b></font>             <font color=blue> # "word count" prints lines, words, and characters in the file.</font>
       2       2    5186  
UNIX> <font color=darkred><b>sort -u f1.txt | wc         </b></font><font color=blue> # "sort -u" sorts the lines, stripping duplicates.</font>
       1       1    2593
UNIX>
</pre>
