<h3>For 202</h3>

<pre>
- Go over the bit operations
- Go over hex
- Go over LS and RS explicitly with a few trivial examples

- Go over ba_helper
- Three number representations - regular, 0xhex and Bbits
- Usage 1: Give a problem.
- Examples
- Go over LS/RS by a multiple of 4

- Usage 2: Test yourself -- Rw where w is bits.
</pre>


<h3>For 302</h3>

<pre>
- Go over the operations and operators in C++
- Go over hex
- Do LS and RS with simple numbers like (5 << 2) and (12 >> 2)

- Use bin/ba_helper
    - 5 AND 9
    - B101 XOR 0x9
    - 0x8a OR 0x32

- LS and RS by multiples of four are trivial in hex:
    - 0x29384 LS 8
    - 0x29384 RS 8

- Go through the pain of a shift by a non-multiple of four.  0x8a7e5c8 LS 7.
     Do it in vim.  Answer with bin/ba_helper

- Show Rx  for random problems.

- Common things we do with bit operations:

  1. Setting a bit.  Test: 1 LS 6 to set bit 6.  0x83 OR 0x40 to set bit 6 in 0x83.
    0x64 OR 0x40 -- it's already set.

  2. Clearing a bit.  ANDNOT.  Do 0x64 ANDNOT 0x40
      Then 0x83 ANDNOT 0x40

      Show that ~0x40 = 0xffffffffffffffbf and how that AND something clears the bit.

  3. Checking to see if a bit is set.

  4. Extracting the lowest x bits of a number.

  5. Extracting bits x through y of a number.  Extract bits 0 through y, then right shift by x.
     You can left shift back of you want....

  6. Representing sets with bits.  Use the operations above.  Talk about intersection and union.
  
- Mention that the lecture notes go over ba_helper.cpp, and that is much more of a
  C program than an OO C++ program.



