<title>CS302 Lecture Notes</title>
<h2>CS302 Lecture Notes - The Nlohmann JSON library</h2>
<UL>
<LI> Mon Nov  2 17:25:13 EST 2020.
<LI> James S. Plank
<LI> Directory: <b>/home/jplank/cs302/Notes/JSON</b>
</UL>
<hr>

<h3>Introduction</h3>

JSON is a standard for storing information in strings.  There JSON readers and writers
for every language, so if you want your input and output to interoperable with other
people's programs, JSON is a very good choice.
<p>
The Nlohmann JSON library is an open source include-only library for C++, which you 
can get in 
<a href=https://github.com/nlohmann/json>https://github.com/nlohmann/json</a>.
Clone it, and then if you include "nlohmann/json.hpp" in your programs, you'll be
able to read, write and manipulate JSON effortlessly.  You do have to compile with C++11
or later.  I know that doesn't bother you like it does me, but it should show you how
much I like this library that I'll eat C++11 to use it.

<hr>
<h3>A little about JSON</h3>

JSON is pretty flexible -- a number, boolean or a quoted string is a valid piece of JSON.
The two more complex pieces of JSON are the array and the key/value store (referred to 
as an "object").  The following strings are all valid JSON:

<pre>
55                                      <font color=blue> # Number</font>
-23.45                                  <font color=blue> # Number</font>
true                                    <font color=blue> # Boolean</font>
"Fred"                                  <font color=blue> # String</font>
[ 1, 2, "Fred" ]                        <font color=blue> # Array with three elements</font>
{ "Name": "Jim", "Age": 100 }           <font color=blue> # Key/Value "object" with two keys/values.</font>
</pre>

You may nest arrays and objects in arrays and objects, giving you a flexible hierarchy.
For example, the file
<b><a href=txt/i2.txt>txt/i2.txt</a></b> contains a key/value store with two keys: "Jim"
and "Brad".  Each of them have objects as their values.  I'm representing Brad's children
with an empty JSON array.

<p><center><table border=3 cellpadding=3><td><pre>
{ "Jim" : { "Last": "Plank", 
            "Age": "Infinity",
            "Children": [ "Katie", "Emily", "Ellen", "Jeff" ] },
  "Brad" : { "Last": "Vander Zanden",
             "Age": 55,
            "Children": []}}
</pre></td></table></center><p>

I won't talk much more about JSON -- my advice is to keep it simple, and don't even think
about arcane things like how to represent a double-quote or general ASCII characters.

<hr>
<h3>Example 1 - Creating and printing some JSON</h3>

My first program 
(<b><a href=src/ex0_create_n_print.cpp>src/ex0_create_n_print.cpp</a></b>)
reads lines of text, and does one of two things:

<OL>
<LI> If the line has two words, it will treat it as key/value and store it into a JSON
     object.  It stores numbers as doubles and strings as strings.
<LI> If the line has more than two two words, then it treats the line as a key/values
     where the values are stored in a JSON array.
</OL>

It then prints the JSON. So:

<pre>
UNIX> <font color=darkred><b>echo Jim Plank | bin/ex0_create_n_print </b></font>
{"Jim":"Plank"}
UNIX> <font color=darkred><b>echo Five 5 | bin/ex0_create_n_print </b></font>
{"Five":5.0}
UNIX> <font color=darkred><b>cat txt/i1.txt</b></font>
Jim Plank
Fred -55.55
Luther 1 Two Buckle My Shoe
UNIX> <font color=darkred><b>cat txt/i1.txt | bin/ex0_create_n_print </b></font>
{"Fred":-55.55,"Jim":"Plank","Luther":[1.0,"Two","Buckle","My","Shoe"]}
UNIX> <font color=darkred><b></b></font>
</pre>

You'll note -- when it prints the JSON, it sorts the keys.  However, you shouldn't assume
that if someone gives you JSON, that they keys will be sorted.
<p>
Here's the code -- reading the input should be straightforward to you.  Note how I
can treat the JSON like an associative array (e.g. a map) when it's a key/value store,
and like a vector when it's an array:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* Read lines of text and add them as key/value objects in JSON.  Then print the JSON. */</font>

#include "nlohmann/json.hpp"
#include &lt;iostream&gt;
#include &lt;vector&gt;
#include &lt;sstream&gt;
using namespace std;
using nlohmann::json;

int main()
{
  string key, val;
  double v;
  vector &lt;string&gt; sv;
  istringstream ss;
  string line;
  string s;
  size_t i;
  json js;

  <font color=blue>/* Read in lines of text.  

     If there are two words, then store a key/value pair in the json.  If the value
        can be interpreted as a double, then store it as a double.  Otherwise, store
        it as a string.

     If there are more than two words, then have the value be an array.
   */</font>

  js = json::object();   <font color=blue>// This says to set js to be an empty key/value store.</font>

  <font color=blue>/* Read the line and turn it into a vector of words. */</font>

  while (getline(cin, line)) {
    sv.clear();
    ss.clear();
    ss.str(line);
    while (ss &gt;&gt; s) sv.push_back(s);

    <font color=blue>/* Set js[key] to val, using sscanf to see if val is a double or string */</font>

    if (sv.size() == 2) {   
      key = sv[0];
      if (sscanf(sv[1].c_str(), "%lf", &v) == 1) {   <font color=blue>// It's a double.</font>
        js[key] = v;
      } else {                                       <font color=blue>// It's a string.</font>
        val = sv[1];
        js[key] = val;
      }

    <font color=blue>/* Otherwise set js[key] to be an array of values. */</font>

    } else if (sv.size() &gt; 2) {  
      key = sv[0];
      js[key] = json::array();                <font color=blue>// This sets the value to be an empty array.</font>
      for (i = 1; i &lt; sv.size(); i++) {
        if (sscanf(sv[i].c_str(), "%lf", &v) == 1) {   <font color=blue>// It's a double.</font>
          js[key].push_back(v);
        } else {                                       <font color=blue>// It's a string.</font>
          js[key].push_back(sv[i]);
        }
      }
    }
  }
   
  <font color=blue>/* Print it out. */</font>
  
  cout &lt;&lt; js &lt;&lt; endl;
  return 0;
}
</pre></td></table></center><p>

<hr>
<h3>Reading and "Dumping" JSON</h3>

Reading JSON with nlohmann::json is super easy -- you simply read it from a stream like
<b>cin</b>.  You can write using a stream too, as I did above.  There is also the
<b>dump()</b> method, which will return a string that has the JSON in it.  If you give
an integer parameter to <b>dump()</b>, then it will indent the JSON.  
<p>
Here's a simple program that reads JSON and prints it formatted with two spaces of indentation.
It's in
<b><a href=src/ex1_read_and_dump.cpp>src/ex1_read_and_dump.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* Read JSON from standard input, and then use dump(2) to write it indented by two spaces. */</font>

#include "nlohmann/json.hpp"
#include &lt;iostream&gt;
using namespace std;
using nlohmann::json;

int main()
{
  json js;

  cin &gt;&gt; js;
  
  cout &lt;&lt; js.dump(2) &lt;&lt; endl;
  return 0;
}
</pre></td></table></center><p>

Here are some examples:

<pre>
UNIX> <font color=darkred><b>echo 55 | bin/ex1_read_and_dump </b></font>
55
UNIX> <font color=darkred><b>echo Jim Plank | bin/ex0_create_n_print | bin/ex1_read_and_dump </b></font>
{
  "Jim": "Plank"
}
UNIX> <font color=darkred><b>cat txt/i1.txt | bin/ex0_create_n_print | bin/ex1_read_and_dump</b></font>
{
  "Fred": -55.55,
  "Jim": "Plank",
  "Luther": [
    1.0,
    "Two",
    "Buckle",
    "My",
    "Shoe"
  ]
}
UNIX> <font color=darkred><b></b></font>
</pre>

If you mess up your JSON, it will throw an execption -- we won't catch it, so the program
will exit.  As you can see, the error messages are not fun to read.

<pre>
UNIX> <font color=darkred><b>echo Jim | bin/ex1_read_and_dump</b></font>     <font color=blue> # Strings need quotes</font>
libc++abi.dylib: terminating with uncaught exception of type nlohmann::detail::parse_error: [json.exception.parse_error.101] parse error at line 1, column 1: syntax error while parsing value - invalid literal; last read: 'J'
Abort trap: 6
UNIX> <font color=darkred><b>echo '{"Jim":}'</b></font>    <font color=blue> # Keys need values</font>
{"Jim":}
UNIX> <font color=darkred><b>echo '{"Jim":}' | bin/ex1_read_and_dump</b></font>
libc++abi.dylib: terminating with uncaught exception of type nlohmann::detail::parse_error: [json.exception.parse_error.101] parse error at line 1, column 8: syntax error while parsing value - unexpected '}'; expected '[', '{', or a literal
Abort trap: 6
UNIX> <font color=darkred><b></b></font>
</pre>

You can catch the exception.  It is of type <tt>json::exception</tt>, and like standard C++
exceptions, they have a <b>what()</b> method which returns a C-style string with the exception.

<hr>
<h3>Enumerating keys</h3>

You can use an iterator to enumerate the keys in a JSON object.
For example, the program in
<b><a href=src/ex2_print_keys.cpp>src/ex2_print_keys.cpp</a></b>
illustrates -- read the header comment for what it does:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program uses an iterator to enumerate the keys inside a JSON object.
   For each key, it prints:
     - The key and val, if the val is a number or string.
     - The key and val size if the val is an object or array.
 */</font>
   
#include "nlohmann/json.hpp"
#include &lt;iostream&gt;
using namespace std;
using nlohmann::json;

int main()
{
  json js;
  json::const_iterator jit;

  <font color=blue>/* Read the json from standard input. */</font>

  cin &gt;&gt; js;
  
  <font color=blue>/* If it's not an object, print an error message and exit. */</font>

  if (!js.is_object()) {
    cout &lt;&lt; "Not a JSON object: " &lt;&lt; js &lt;&lt; endl;
    return 0;
  } 

  <font color=blue>/* Otherwise, run through the keys with an iterator and print them. */</font>

  for (jit = js.begin(); jit != js.end(); jit++) {
    printf("Key: %-10s ", jit.key().c_str());
    if (jit.value().is_string() || jit.value().is_number()) {
      cout &lt;&lt; "Value: " &lt;&lt; jit.value() &lt;&lt; endl;
    } else if (jit.value().is_object() || jit.value().is_array()) {
      cout &lt;&lt; "Size: " &lt;&lt; jit.value().size() &lt;&lt; endl;
    } else {
      cout &lt;&lt; "Unknown value type.\n";
    }
  }
  return 0;
}
</pre></td></table></center><p>

You will have to use <b>const_iterator</b>, or it won't compile.  You can 
see above that the iterator has a <b>key()</b> method to get the key, which
will be a string, and a <b>val()</b> iterator to get the val, which
is itself JSON, which can be a string, number, array or object.
Here are some examples:

<pre>
UNIX> <font color=darkred><b>echo 1 | bin/ex2_print_keys </b></font>                            <font color=blue> # Although "1" is a valid JSON string, it is not an key/value object.</font>
Not a JSON object: 1
UNIX> <font color=darkred><b>echo '{"Jim":"Plank", "Number":5}'</b></font>
{"Jim":"Plank", "Number":5}
UNIX> <font color=darkred><b>echo '{"Jim":"Plank", "Number":5}' | bin/ex2_print_keys</b></font> <font color=blue> # Interestingly, the key is a string, but the val is JSON, </font>
Key: Jim        Value: "Plank"                                <font color=blue> # hence why you get the quotes when it prints "Plank".</font>
Key: Number     Value: 5
UNIX> <font color=darkred><b>cat txt/i2.txt</b></font>
{ "Jim" : { "Last": "Plank", 
            "Age": "Infinity",
            "Children": [ "Katie", "Emily", "Ellen", "Jeff" ] },
  "Brad" : { "Last": "Vander Zanden",
             "Age": 55,
            "Children": []}}
UNIX> <font color=darkred><b>cat txt/i2.txt | bin/ex2_print_keys </b></font>                    <font color=blue> # The keys are sorted when you enumerate them.</font>
Key: Brad       Size: 3
Key: Jim        Size: 3
UNIX> <font color=darkred><b>bin/ex0_create_n_print < txt/i1.txt</b></font>
{"Fred":-55.55,"Jim":"Plank","Luther":[1.0,"Two","Buckle","My","Shoe"]}
UNIX> <font color=darkred><b>bin/ex0_create_n_print < txt/i1.txt | bin/ex2_print_keys</b></font>
Key: Fred       Value: -55.55
Key: Jim        Value: "Plank"
Key: Luther     Size: 5
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>Setting JSON constants in your program </h3>

There are times where you'll simply want to set JSON in your program. 
The program 
<b><a href=src/ex3_static_assignment.cpp>src/ex3_static_assignment.cpp</a></b> shows you how
to do this -- it's a good example to have in your pocket.

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program shows how you can assign a json object (or array) statically in your program. */</font>

#include "nlohmann/json.hpp"
#include &lt;iostream&gt;
using namespace std;
using nlohmann::json;

static json j = {
         { "first", "Tiger" },
         { "last", "Woods" },
         { "wins", 82 },
         { "majors", 15 },
         { "masters-wins", { 1997, 2001, 2002, 2005, 2019 } },   <font color=blue>// These are arrays.</font>
         { "pga-wins", { 1999, 2000, 2006, 2007 } },
         { "us-open-wins", { 2000, 2002, 2008 } },
         { "british-open-wins", { 2000, 2005, 2006} } };


int main()
{
  cout &lt;&lt; j.dump(2) &lt;&lt; endl;
}
</pre></td></table></center><p>

Of course, when you print it, the keys will be sorted:


<p><center><table border=3 cellpadding=3><td valign=top><pre>
UNIX> <font color=darkred><b>bin/ex3_static_assignment </b></font>
{
  "british-open-wins": [
    2000,
    2005,
    2006
  ],
  "first": "Tiger",
  "last": "Woods",
  "majors": 15,
  "masters-wins": [
    1997,
    2001,
    2002,
    2005,
    2019
  ],
</pre></td><td valign=top><pre>
  "pga-wins": [
    1999,
    2000,
    2006,
    2007
  ],
  "us-open-wins": [
    2000,
    2002,
    2008
  ],
  "wins": 82
}
UNIX> <font color=darkred><b></b></font>
</pre></td></table></center><p>

<hr>
<h3>Other useful things</h3>

There are examples in <a href=https://github.com/nlohmann/json>https://github.com/nlohmann/json</a> (scroll down or search
for "Examples").

<UL>
<LI> <b>json::parse()</b> will parse a string.
<LI> These are all type-checking methods:
<pre>
j.is_null();
j.is_boolean();
j.is_number();
j.is_object();
j.is_array();
j.is_string();
</pre>
<LI> There is a method <b>contains()</b> which will return whether a key is in the json.
<LI> The <b>find()</b> method returns an iterator like a map.
<LI> You can erase a key/value setting with <b>erase(key)</b>.
<LI> You can assign JSON from vectors, deques, lists, etc.  See the web site for examples.
<LI> You can assign JSON from user-defined types.  See the web site for examples.
</UL>

<hr>
<h3>A Practice Program to Write</h3>

Here's an assignment to give you practice.  Every week, my family competes on DraftKings in a fantasy golf game.
If there is a PGA Tour tournament that week, then there is a game on DraftKings, where you draft a 6-golfer team
within a $50,000 salary.  At the end of the tournament, each golfer has a score, and whoever's team scores the
highest wins.
<p>
Before the tournament, DraftKings lets you download a csv file containing the salaries, and after the tournament
starts, you can download a csv file containing each player's score.  I've converted these to JSON and put the
files into the <b>salaries</b> and <b>standings</b> directories.  Take a look at the files for the Heritage tournament
(played on Hilton Head island) in 2020:

<pre>
UNIX> <font color=darkred><b>ls standings/*Heritage*</b></font>
standings/2020-06-21-Heritage.txt
UNIX> <font color=darkred><b>ls salaries/*Heritage*</b></font>
salaries/2020-06-21-Heritage.txt
bin/ex2_print_keys < standings/2020-06-21-Heritage.txt
Key: golfers    Size: 154
Key: tournament Value: "2020-06-21-Heritage"
Key: value      Value: "score"
UNIX> <font color=darkred><b>bin/ex2_print_keys < standings/2020-06-21-Heritage.txt</b></font>
Key: golfers    Size: 154
Key: tournament Value: "2020-06-21-Heritage"
Key: value      Value: "score"
UNIX> <font color=darkred><b>bin/ex1_read_and_dump < standings/2020-06-21-Heritage.txt | head</b></font>
{
  "golfers": {
    "Aaron Baddeley": 33,
    "Aaron Wise": 32.5,
    "Abraham Ancer": 125.5,
    "Adam Hadwin": 88,
    "Adam Long": 29,
    "Adam Schenk": 27.5,
    "Alex Noren": 104,
    "Andrew Landry": 84,
UNIX> <font color=darkred><b>bin/ex1_read_and_dump < salaries/2020-06-21-Heritage.txt | head</b></font>
{
  "golfers": {
    "Aaron Baddeley": 6400,
    "Aaron Wise": 6400,
    "Abraham Ancer": 8000,
    "Adam Hadwin": 7300,
    "Adam Long": 6300,
    "Adam Schenk": 6500,
    "Alex Noren": 7000,
    "Andrew Landry": 6800,
UNIX> <font color=darkred><b></b></font>
</pre>

Each file contains JSON with the following keys:

<UL>
<LI> "tournament" has the name of the tournament.
<LI> "value" is either "score" or "salary", depending on what information is in the file.
<LI> "golfers" is JSON, where the keys are golfer names, and the vals are either the scores or salaries.
</UL>

Unfortunately, it's not the case that every golfer plays every tournament, and worse yet, the golfers in the salary
file for a tournament doesn't always match the golfers in the score file.  Such is life.  
<p>
Now, take a look at
<b><a href=src/read_tournaments.cpp>src/read_tournaments.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
#include "nlohmann/json.hpp"
#include &lt;iostream&gt;
#include &lt;vector&gt;
#include &lt;sstream&gt;
using namespace std;
using nlohmann::json;

int main()
{
  json js;
  json overall;
  string v, t;
  json g;

  overall["salary"] = json::object();
  overall["score"] = json::object();

  try {
    while (true) {
      cin &gt;&gt; js;
      v = js["value"];
      t = js["tournament"];
      g = js["golfers"];
      overall[v][t] = g;
    }
  } catch (const json::exception &e) {
  }

  cout &lt;&lt; overall &lt;&lt; endl;
  return 0;
}
</pre></td></table></center><p>

This lets you <b>cat</b> files into standard input, and it will create a new JSON which has the keys "salary" and "score".
The vals for these are JSON objects whose keys are tournament names, and whose vals are the same objects for the golfers
that are in the file.  At the end, it prints the JSON.  Let's run this on the Heritage files:

<pre>
UNIX> <font color=darkred><b>cat s*/*Heritage* | bin/read_tournaments | bin/ex1_read_and_dump </b></font>
{
  "salary": {
    "2020-06-21-Heritage": {
      "Aaron Baddeley": 6400,
      "Aaron Wise": 6400,
      "Abraham Ancer": 8000,
      "Adam Hadwin": 7300,
      "Adam Long": 6300,
      "Adam Schenk": 6500,
                                  <font color=blue> # Skip lines...</font>
      "Xander Schauffele": 10200,
      "Zach Johnson": 7000
    }
  },
  "score": {
    "2020-06-21-Heritage": {
      "Aaron Baddeley": 33,
      "Aaron Wise": 32.5,
      "Abraham Ancer": 125.5,
      "Adam Hadwin": 88,
      "Adam Long": 29,
      "Adam Schenk": 27.5,
                                  <font color=blue> # ...</font>
      "Xander Schauffele": 79,
      "Zach Johnson": 27.5
    }
  }
}
UNIX>
</pre>

Or, let's run it on all of the tournaments played in September, 2019:

<pre>
UNIX> <font color=darkred><b>cat s*/2019-09* | bin/read_tournaments | bin/ex1_read_and_dump  > ~/junk.txt</b></font>
{
  "salary": {
    "2019-09-15-Greenbrier": {
      "Adam Long": 6300,
                             <font color=blue> # Skip lines...</font>
      "Zack Sucher": 6100
    },
    "2019-09-22-Sanderson": {
      "Aaron Wise": 8500,
                             <font color=blue> # ...</font>
      "Zack Sucher": 6600
    },
    "2019-09-29-Safeway": {
      "Aaron Baddeley": 6700,
                             <font color=blue> # ...</font>
      "Zac Blair": 6900
    }
  },
  "score": {
    "2019-09-15-Greenbrier": {
      "Adam Long": 94.5,
                             <font color=blue> # ...</font>
      "Zack Sucher": 80
    },
    "2019-09-22-Sanderson": {
      "Aaron Wise": 78.5,
                             <font color=blue> # ...</font>
      "Zack Sucher": 84.5
    },
    "2019-09-29-Safeway": {
      "Aaron Baddeley": 67.5,
                             <font color=blue> # ...</font>
      "Zac Blair": 101
    }
  }
}
UNIX>
</pre>

Here's what I want you do try to do -- I've copied <b>src/read_tournaments.cpp</b>  to <b>src/values</b>.
Augment it to do the following:

<UL>
<LI> Create the JSON object <b>golfers</b>.
<p>
<LI> For each tournament, enumerate the golfers in <b>scores</b>, and for each time the golfer has a salary
in <b>salaries</b>, calculate the golfers value for that tournament.  The value should be score *1000 / salary.
For example, Aaron Baddeley's value in the Safeway tournament above is 67.5 * 1000 / 6700 = 10.075.
Each golfer should have a key in <b>golfers</b>, and the value should be an array of the golfer's value in each
tournament.  Again, looking at the output above, in the September, 2019 tournaments, Zach Sucher's value array
would be [ 13.114754, 12.803030 ].  
<p>
You should test this before moving on.  I'm leaving it up to you do determine how you test.
<p>
<LI> After creating the <b>golfers</b> JSON, traverse it, and for each golfer, print out the golfer's average
value, the number of tournaments that the golfer played in, and the golfer's name.  
</UL>

My code to do this is only 21 lines -- the nlohmann JSON library is really powerful.  
<p>
You can test yourself by seeing if your code matches mine in the following use cases:

<pre>
<font color=blue># The 10 best value golfers in the Heritage (Webb Simpson won it, but he was expensive):</font>

UNIX> <font color=darkred><b>cat s*/*Heritage* | bin/values | sort -nr | head -n 10</b></font>
16.2698  1 Carlos Ortiz
16.1290  1 Michael Thompson
16.1111  1 Webb Simpson
16.0135  1 Joaquin Niemann
15.6875  1 Abraham Ancer
15.4110  1 Sergio Garcia
15.1493  1 Dylan Frittelli
14.9167  1 Jim Herman
14.8571  1 Alex Noren
14.7656  1 Doc Redman

<font color=blue># The 10 best value golfers in September, 2019:</font>

UNIX> <font color=darkred><b>cat s*/*2019-09* | bin/values | sort -nr | head -n 10</b></font>
14.0000  1 Garrett Osborn
13.8052  3 Adam Long
13.4171  2 Richy Werenski
13.0688  3 Harris English
13.0213  3 Sebastian Munoz
12.9589  2 Zack Sucher
12.6667  1 Tommy Gainey
12.4118  1 Charles Howell III
12.2222  1 Stewart Cink
12.2204  3 Cameron Percy

<font color=blue># The 10 best value golfers who played at least 10 tournaments in the season:</font>

UNIX> <font color=darkred><b>cat standings/* salaries/* | bin/values | sort -nr | grep ' [0-9][0-9] ' | head</b></font>
 9.9411 14 Richy Werenski
 9.7770 22 Mark Hubbard
 9.4608 16 Daniel Berger
 9.2466 23 Adam Long
 9.1413 17 Scott Stallings
 9.0558 22 Doc Redman
 8.9181 25 Sebastian Munoz
 8.8855 20 Harris English
 8.8167 17 Ryan Palmer
 8.8060 17 Cameron Davis

<font color=blue># Where's Tiger Woods?</font>

UNIX> <font color=darkred><b>cat standings/* salaries/* | bin/values | sort -nr | grep Tiger</b></font>
 7.3265  6 Tiger Woods
UNIX> <font color=darkred><b></b></font>
</pre>
