<h3>Clicker Question on Prim's Algorithm</h3>

You are given an undirected graph with the following adjacency matrix.

<p><center><table border=3 cellpadding=3><td><pre>
       A   B   C   D   E   F   G   H   I
A |    -  91   -  12   -   -   -   -   -
B |   91   -  67 123   -   -   -   -   -
C |    -  67   -   - 106  78   -   -   -
D |   12 123   -   -   -   -  84   -   -
E |    -   - 106   -   -   -  45   -   -
F |    -   -  78   -   -   -   -  39  51
G |    -   -   -  84  45   -   -  20   -
H |    -   -   -   -   -  39  20   - 112
I |    -   -   -   -   -  51   - 112   -
</pre></td></table></center><p>

Suppose we use Prim's algorithm to determine the minimum spanning tree of this graph,
and we start building the three with node <b>A</b>.

<p>
<hr>
<b>Question 1.</b> What is the second node that we put onto the minimum spanning tree?
<hr>
<b>Question 2.</b> What is the third node that we put onto the minimum spanning tree?
<hr>
<b>Question 3.</b> What is the fourth node that we put onto the minimum spanning tree?
<hr>
<b>Question 4.</b> After we put the fourth node onto the spanning tree and process 
its edges, what is the 
order of the nodes on the multimap (give your answer as node names separated by hyphens,
with no spades, such as "A-B-C-D").
<hr>
<b>Question 5.</b> What is the total edge weight of the minimum spanning tree?
<p>
You don't have to draw the graph to do this question, but if you feel like it will help you
to visualize, I suggest organizing the nodes as:

<p><center><table border=3 cellpadding=3><td><pre>

     A     B     C     

     D     E     F     

     G     H     I    

</pre></td></table></center><p>
