<h3>Clicker Questions for Topological Sort</h3>

<hr>
<b>Question 1:</b> True.  All edges either go to <i>t</i>, or they 
go from <i>n<sub>i</sub></i> to <i>n<sub>j</sub></i>, where <i>j > i</i>.
Therefore, there's no way to have a cycle.
<hr>
<b>Question 2:</b> 
<b>B.</b> Breadth-first search.  The only contenders here are BFS, Dijkstra and Topological
Sort.  Unforunately, topological sort will never process <i>t</i>, because there is an 
infinite number of edges to <i>t</i>.  The only way it can process <i>t</i> is if it processes
all of the nodes with edges to <i>t</i>, so that will never happen.
<p>
BFS, on the other hand, keeps a queue of nodes with known shortest paths to <i>t</i>.
The shortest path from 1 to <i>t</i> won't be very large -- it will keep going along
edges from <i>n<sub>i</sub></i> to 
<i>n<sub>5i</sub></i>, when <i>i</i> is prime, and 
from <i>n<sub>i</sub></i> to <i>n<sub>i+1</sub></i>, when <i>i</i> is not prime.  Eventually,
it will get to <i>n<sub>i</sub></i>, where <i>i</i> is prime and > 10000, and it will go directly
to <i>t</i>.  So it will end.
<p>
Put another way, although there is an infinite number of paths from 1 to other nodes in the 
graph, there is a finite number of paths whose length is the minimum length.  For that 
reason, the BFS will finish.
<p>
BFS is better than Dijkstra, because all of the edge weights are 1.  The queue in BFS will perform
better than the multimap of Dijkstra's algorithm.
<hr>
<b>Question 3:</b> 

False.  See above -- the algorithm will terminate.

<hr>
<b>Question 4:</b> 

Since the edges have weights &ne; 1, we need to use Dijstra's algorithm, and it will terminate,
again because there are a finite number of paths with the shortest weight.

<hr>
<b>Question 5:</b> 

The answer is 60.  You can see me derive it
in 3 minutes and 20 seconds, while talking you through it, at <a href=https://youtu.be/rhBeHomBSGs>https://youtu.be/rhBeHomBSGs</a>.
