<p><center><table border=3 cellpadding=3><td valign=top><pre>
int main()
{
  Item *i;           <font color=blue>// No longer do we have separate</font>
                     <font color=blue>// Dog and Koozie pointers.</font>

  <font color=blue>/* The rest of the code in this column is the same. */</font>

  istringstream ss;   
  string name;
  string line;
  string key;
  string desc;       
  double p;          
  double e;          
  double tp;         
  double te;         
  double fees;       

  getline(cin, name);
  printf("Customer: %s\n", name.c_str());
  printf("\n");

  printf("%-60s %6s %6s\n", "Description", 
                            "Price", 
                            "Costs");

  tp = 0;
  te = 0;
</pre></td><td valign=top><pre>
  while (getline(cin, line)) {
    ss.clear();
    ss.str(line);
    ss &gt;&gt; key;
    if (key == "Koozie") {          <font color=blue>// Here is the relevant code.</font>
      i = new Koozie(ss);           <font color=blue>// Since Koozie/Dog implement the </font>
    } else if (key == "Dog") {      <font color=blue>// Item interface, we can treat </font>
      i = new Dog(ss);              <font color=blue>// them as items.</font>
    }
    desc = i-&gt;Description();        <font color=blue>// Now there is no code duplication.</font>
    p = i-&gt;Price();
    e = i-&gt;Expenses();
    delete i;

    tp += p;
    te += e;
    printf("%-60s %6.2lf %6.2lf\n", desc.c_str(), p, e);
  }

  <font color=blue>/* Print the final information. */</font>

  printf("\n");
  fees = tp * 0.08;
  printf("Gross:  %8.2lf\n", tp);
  printf("Costs:  %8.2lf\n", te);
  printf("Fees:   %8.2lf\n", fees);
  printf("Profit: %8.2lf\n", tp - te - fees);
  return 0;
}
</pre></td></table></center><p>
