<p><center><table border=3 cellpadding=3><td valign=top><pre>
int main()
{
  istringstream ss;
  string name;
  string line;
  string key;
  Dog *d;
  Koozie *k;
  string desc;    <font color=blue>// Description of an item.</font>
  double p;       <font color=blue>// Price of an item.</font>
  double e;       <font color=blue>// Expenses of an item.</font>
  double tp;      <font color=blue>// Running total of prices.</font>
  double te;      <font color=blue>// Running total of expenses.</font>
  double fees;    <font color=blue>// Fees</font>

  <font color=blue>/* Read and print the customer name. */</font>

  getline(cin, name);
  printf("Customer: %s\n", name.c_str());
  printf("\n");

  <font color=blue>/* Print labels for the items. */</font>

  printf("%-60s %6s %6s\n", "Description", "Price", "Costs");
</pre></td><td valign=top><pre>
  <font color=blue>/* Print each item -- description, price, expenses. 
     You'll note that there's some code duplication, 
     because Dog and Koozie are different classes.  */</font>

  tp = 0;
  te = 0;
  while (getline(cin, line)) {
    ss.clear();
    ss.str(line);
    ss &gt;&gt; key;
    if (key == "Koozie") {
      k = new Koozie(ss);
      desc = k-&gt;Description();    <font color=blue>// These three lines</font>
      p = k-&gt;Price();             <font color=blue>// feel</font>
      e = k-&gt;Expenses();          <font color=blue>// redundant.</font>
      delete k;
    } else if (key == "Dog") {
      d = new Dog(ss);
      desc = d-&gt;Description();    <font color=blue>// With these</font>
      p = d-&gt;Price();             <font color=blue>// three</font>
      e = d-&gt;Expenses();          <font color=blue>// lines.</font>
      delete d;
    }
    tp += p;
    te += e;
    printf("%-60s %6.2lf %6.2lf\n", desc.c_str(), p, e);
  }

  <font color=blue>/* Print the final information. */</font>

  printf("\n");
  fees = tp * 0.08;
  printf("Gross:  %8.2lf\n", tp);
  printf("Costs:  %8.2lf\n", te);
  printf("Fees:   %8.2lf\n", fees);
  printf("Profit: %8.2lf\n", tp - te - fees);
  return 0;
}
</pre></td></table></center><p>
